<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Quarry" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_stylesheet_tag "application" %>
    <%= vite_typescript_tag "inertia" %>
    <%= inertia_ssr_head %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
